<html>

<!-- <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head> -->

<body>

    <h1>New Visitor</h1>

    <div class='pane'>
        <form action="{{url_for('add_new_visitor', user_name = user_name) }}" method='post' enctype="multipart/form-data">
            <p>Name</p>
            <input type="text" id="name" name="name" required><br>
            <p>Select image</p>
            <input type="file" id="img" name="img" accept="image/*" required>
            <input type="submit" value="Add">
        </form>
    </div>

    <a href="{{url_for('user_dashboard',user_name=user_name)}}">Back to User Dashboard</a>

</body>

</html>