<html>

<!-- <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head> -->

<body>

    <h1>Edit Visitor</h1>

    <div class='pane'>
        <form action="{{url_for('user_edit_visitor', user_name = user_name) }}" method='post' enctype="multipart/form-data">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" placeholder="{{target_visitor.name}}"><br>
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*" required>
            <input type="submit" value="Commit Edit">
        </form>
    </div>

    <a href="{{url_for('user_dashboard',user_name=user_name)}}">Back to User Dashboard</a>

</body>

</html>