<html>

<!-- <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head> -->

<body>

    <h1>identify new visitor</h1>

    <div class='pane'>
        <form action="{{url_for('identify', user_name = user_name) }}" method='post' enctype="multipart/form-data">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*" required>
            <input type="submit">
        </form>
    </div>

    <a href="{{url_for('user_dashboard',user_name=user_name)}}">Back to User Dashboard</a>

</body>

</html>