<html>

<body>

    <h1>All permitted</h1>
    <br>
    <h2>{{user_name}}</h2>

    {% for v in visitors %}

    <div>

        <p>{{v.name}}</p>

        <!-- add photo here is a problem -->

        <a href="{{url_for('user_edit_visitor', user_name = user_name,visitor_id=v.visitor_id) }}">Edit</a>
        <br>
        <a href="{{url_for('user_delete_visitor', user_name = user_name,visitor_id=v.visitor_id) }}">Delete</a>
        <br>

    </div>

    {% endfor %}
    <h2>
        <a href="{{url_for('add_new_visitor', user_name = user_name) }}"></a>
    </h2>

    <h2>
        <a href="{{url_for('users') }}">Back to Main Page</a>
    </h2>

    <h2>
        <a href="{{url_for('user_info',user_name=user_name) }}">Back to User DashBoard</a>
    </h2>

</body>

</html>